@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  
}

body {
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
 
  overflow-y: scroll;
  
}

.root {
  width: 100%;
  overflow-y: scroll;
height: 100%;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #ffffff;
  color: #160f0f;
  width: 100%;
  z-index: 99;
  position:absolute;
  
  
}

.logo-container {
  flex-shrink: 0;
}

.logo {
  max-width: 60px; /* Responsive logo */
  height: auto;
  display: flex;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: #555353;
  text-decoration: none;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none; /* Show only on mobile */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 10%;
}

.hamburger .bar {
  width: 35px;
  height: 3px;
  background-color: #963333;
  border-radius: 2px;
}

/* Hide nav-links by default on mobile */
.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #f7f7f7;
  width: 100%;
  padding: 1rem;
}

/* Show nav-links when menu is open */
.nav-links.open {
  display: flex;
}

.no-highlight {
  text-decoration: none;
  color: inherit;
}

/* Main Content Styles */
.toyotaCamryHome1 {
  overflow: hidden;
  position: absolute;
  left: 10%; /* Responsive positioning */
  top: 20%;
  max-width: 300px;
  width: 100%;
  height: 40%;
  background-image: url('../src/assets/toyotaCamryHome1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}




.map1 {
  position: absolute;
  left: 15%; /* Responsive positioning */
  top: 10%;
  max-width: 256px;
  width: 100%;
  height: 50%;
  background-image: url('../src/assets/map1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/*landing page*/

.rectangle158{
  position: absolute;
  top: 50%;
  margin: 5%;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookYour span{
 color: #ee7979;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
}
.bookYour{
  width:95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
}

.Button_container{
  width: 100%;
  height: min-content;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  position: absolute;
  top: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Button1{
  background-color: rgba(236, 72, 77, 1);
  border: 0;
  padding:14px 80px;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;

  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.Button2{

      background-color: rgb(255, 255, 255);
      border: 1px solid  rgba(245, 87, 87, 1);
      padding:14px 110px;
      border-radius: 1px;
      color: rgba(245, 87, 87, 1);
      font-size: 16px;
      line-height: 120%;
      font-weight: 500;
      font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      text-align: center;
      align-items: center;
      white-space: nowrap;
      flex-direction: column;
    
}

.Button3{

  background-color: rgb(255, 255, 255);
border: none;
  padding:14px 110px;
  border-radius: 1px;
  color: rgba(245, 87, 87, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;

}


/*get major service*/ 
.gETAMAJORSERVICE {

  display: flex;
  position: absolute;
  top: 120%;
  height: 55%;
  justify-content: space-evenly;
  flex-direction:row;
  animation: slideIn 3s ease-in-out forwards;
  width: auto;
}

.tips {
  position: absolute;
  top: 330%;
  padding: 20px;
  background: linear-gradient(to right,rgb(255, 255, 255), rgba(255, 255, 255, 0)), 
  url('../src/assets/map1.png');
  height: 400px;
  margin-top: 20px;
  text-align:start;
  background-position:right;
  background-size: cover;
 
}

.tip-item span{
  font-size: 55px;
line-height: 120%;
font-weight:lighter;
font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif; 
  font-weight: bolder;
  color: #0b991e;
  }


.tip-item h2{
  font-size: 55px;
line-height: 120%;
font-weight:lighter;
font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif; 
  }

  .tip-item p{
   margin: 40px 0;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
    }
  
/* Link Styling */
.tip-link {
  background-color: rgb(41, 165, 16);
  border: 0;
  padding:15px 50px;
  border-radius: 1px;
  color: #161212;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;

    
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  text-decoration: none;
}

.tip-link:hover {
  color: #3aaa36;
  background-color: rgb(250, 245, 245);
  text-decoration: none;
  border: 1px solid  #36aa3c;;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.gETAMAJORSERVICE h1{
  color: #313131;
  font-size: 55px;
  line-height: 120%;
  font-weight:lighter;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
  width: auto;
  height: min-content;
  
}

.gETAMAJORSERVICE span{
  color: rgb(236, 122, 122);
  font-size: 55px;
  line-height: 120%;
  font-weight:bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
  
  
}


.everyMajorServiceIncludesAComp {
  padding: 5%;
  color: #2c1b1b;
  font-size: 100%;
  line-height: 120%;
  font-weight: lighter;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  width: auto;
  height: min-content;
  flex-direction: column;
  z-index: 99;
  top: 40%;
}

.frame10 {
  background-color: rgb(255, 253, 253);
  border: 1px solid salmon;
  padding:14px 50px;
  border-radius: 1px;
  color: #cf3d3d;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
 top: 85%;
  position: absolute;
}
.frame11 {
  background-color: rgb(209, 209, 209);
  border: 0;
  padding:20px 50px;
  border-radius: 1px;
  color: #0e0c0c;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  margin:  50px 0;
 
}


.subcriptcontain{
  position: absolute;
  top: 150%;
}


.banner{
  background: linear-gradient(rgba(255, 254, 254, 0), rgb(255, 255, 255)), 
  url('../src/assets/Untitled\ design\ \(3\).jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 520%;
  width: 100%;
  height: 50%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0;
  box-shadow: 0 -38px  38px rgba(41, 3, 9, 0.397);
  background-color: #160f0f;
}

.banner {
  color: hwb(0 7% 39%);
  font-size: 25px;
  font-weight: bold;
  line-height: 120%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 

}
.bannerh2 {
  color: #ffffff;
font-size: 30px;
margin: -20px 0;
line-height: 120%;
font-weight:lighter;
font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif; 
}

.banner button{
  text-decoration: none;
  background: linear-gradient(to right,rgb(87, 29, 29), rgba(146, 2, 2, 0.849)); 
  border: 1px solid  rgba(245, 87, 87, 1);
  padding:14px 50px;
  border-radius: 1px;
  color: rgb(253, 253, 253);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

/*serivce*/
.Serivce{
 position: absolute;
 top: 360%;
  width: 100%;
}

.Serivce h1{
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: 35px;
line-height: 120%;
font-weight:lighter;
font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif; 
  
 };

 .Acreddited{

  display: flex;
  flex-direction: column;
 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   gap: 30px;
 }

 .back{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right,rgb(255, 255, 255), rgba(255, 255, 255, 0)), 
  url('../src/assets/map1.png');
  height: 150px;
  width: 200px;
  margin: 40px 0;
  padding: 10px 10px;
  border-radius: 30px;

 background-position: center;
 }


.Acreddited img{
  
   width: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 100px;
}

.membership{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.membership h1{
  font-size: 35px;
line-height: 120%;
font-weight:lighter;
font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif; 
}
.membership span{
  color: rgba(236, 72, 77, 1);
  font-size: 35px;
  line-height: 120%;
  font-weight:bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
}

.membership p{
  font-weight: 400;
  font-size: 20px;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
}

/*footer*/
.frame329 {
  width: 100%;
  position: absolute;
  top:580%;
   flex-direction: column;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    
  
  };
  .frame329 {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .contact-image {

    width: 50%;
    max-height: 300px;
    object-fit: cover;
  }
  
  .contactus {
    font-family: 'Montserrat', sans-serif;
    color: #614f4f;
    font-size: 12px;
  }

  .textstyle {
    font-size: 11px;
    margin: 5px 0;
   color: #555353;
    font-family: "Montserrat", sans-serif;
  }
  
  .frame330 iframe {
    border: none;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 639%;
   
  }
  .textBlock10 {
    color: #614f4f;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    width: 60%;
  }
  
  .bookin_container{
    margin: 0 10%;
  }
  
  .bookin_container h1{
    font-size: 50px;
    color: #e67373;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  
  
  .bookin_container span{
    font-size: 50px;
    font-weight: bold;
    color: #e67373;
    font-family: "Montserrat", sans-serif;
  }
  
  .fill_form{
    font-size: 20px;
    color: #5a5a5a;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  form h3{
    font-size: 25px;
    font-weight: bold;
    color: #af3232;
    font-family: "Montserrat", sans-serif;
  }
  
  form input{
   width: 350px;
   height: 35px;
  padding: 5px 10px;
  margin: 15px 0;
   border: none;
   background: #F5F5F5;
   border-radius: 5px 5px 0 0;
   color: #555454;
  }
  
  
  form select{
    width: 350px;
    height: 35px;
   padding: 5px 0;
   margin: 15px 0;
    border: none;
    background: #F5F5F5;
    border-radius: 5px 5px 0 0;
    color: #434443;
  }
  .AboutYourAffordableCarServiceWis {
    color: #756b6b;
    font-size: 16px;
    font-weight: bold;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: 100%;
    height: min-content;
    justify-content: center;
    flex-direction: column;
    margin-top: -70%;
   
  }

 
  .WeHaveAQualifiedDieselMechanic p{
    width: 100%;
    height: min-content;
    font-weight: 600;
  }
  .JaguarHome1 {
    position: absolute;
  left: 50%;
top: 85%;
    width: 50%;
    height: 15%;
    background-image:url('../src/assets/wantACarWithOfficeCell1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 0 auto;
    max-width: 1200px; /* Center and limit max width */
  }
  
  .contact-header {
    margin-top: 40%;
    text-align: center;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c9c5c5;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }
  
  .icon-container {
    width: 50px;
    height: 50px;
    background: #d83131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .contact-button {
    padding: 10px 20px;
    border: none;
    background: #d83131;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-button:hover {
    background: #b82626;
  }
 /* Main container */
.booking-appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

/* Content container */
.booking-content {
  width: 90%; /* Default width */
  max-width: 800px; /* Limit the maximum width for large screens */
  margin: 20px auto; /* Center the content */
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.highlight {
  color: #b43939;
}

.fill-form {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
}



/* Responsive Design */
@media (max-width: 768px) {

  .navbar {
    text-align: center;
  }

  .logo {
    left: 1; /* Center logo on mobile */
  }

  .nav-links {
    display: none; /* Hide nav-links initially on mobile */
  }

  .hamburger {
    display: flex; /* Show hamburger menu on mobile */
  }

  .toyotaCamryHome1, .map1 {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
  }
}



/* Desktop Styles */
@media (min-width: 768px) {
  body {
    font-size: 1rem; /* Increase font size for readability */
   
  }

  .navbar {
    margin: 0;
    padding: 10px 50px;
    position: fixed; /* Keep the navbar fixed for better navigation */
    background-color: #fff; /* Ensure it's visible on scroll */
    z-index: 100;
    top: 0%;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row; /* Align links horizontally */
    position: static;
    gap: 20px;
    background-color: white;
    margin-left: 65%;
  }

  .hamburger {
    display: none; /* Hide hamburger on larger screens */
  }

  .toyotaCamryHome1 {
    position: absolute;
    left: 45%; /* Responsive positioning */
    top: 10%;
    max-width: 776px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url('../src/assets/toyotaCamryHome1.png');
   
  }
  .map1 {
    position: absolute;
    left: 25%; /* Responsive positioning */
    top: 10%;
    max-width: 756px;
    width: 100%;
    height: 50%;
    background-image: url('../src/assets/map1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /*landing page*/
  
  .rectangle158{
    position: absolute;
    top: 40%;
    
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bookYour span{
   color: #ad3636;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
  }

  .bookYour h1{
    color: #534141;
     font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
       'Liberation Sans', sans-serif;
       font-size: 3rem; 
   }
  .bookYour{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
  }

  .bookYour p{
   margin-left: -5%;
  }
  
  
  .Button_container{
    width: 100%;
    height: min-content;
    align-items: flex-start;
    gap: 20px;
    display: flex;
    position: absolute;
    top: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .Button1{
    background-color: rgba(236, 72, 77, 1);
    border: 0;
    padding:14px 80px;
    border-radius: 1px;
    color: #fff;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  
  .Button2{
  
        background-color: rgb(255, 255, 255);
        border: 1px solid  rgba(245, 87, 87, 1);
        padding:14px 110px;
        border-radius: 1px;
        color: rgba(245, 87, 87, 1);
        font-size: 16px;
        line-height: 120%;
        font-weight: 500;
        font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
      
  }
  
  .Button3{
  
    background-color: rgb(255, 255, 255);
  border: none;
    padding:14px 110px;
    border-radius: 1px;
    color: rgba(245, 87, 87, 1);
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  
  }
  
  
  /*get major service*/ 
  .gETAMAJORSERVICE {
  
    display: flex;
    position: absolute;
    top: 120%;
    height: 55%;
    justify-content: space-evenly;
    flex-direction: row;
    animation: slideIn 3s ease-in-out forwards;
    width: auto;
  }
  
  .tips {
    width: 200%;
    position: absolute;
    top: 250%;
    padding: 20px;
    background: linear-gradient(to right,rgb(255, 255, 255), rgba(255, 255, 255, 0)), 
    url('../src/assets/map1.png');
    height: 400px;
    margin-top: 20px;
    text-align:start;
    background-position:right;
    background-size: cover;
   
  }
  
  .tip-item span{
    font-size: 55px;
  line-height: 120%;
  font-weight:lighter;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
    font-weight: bolder;
    color: #0b991e;
    }
  
  
  .tip-item h2{
    font-size: 55px;
  line-height: 120%;
  font-weight:lighter;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
    }
  
    .tip-item p{
     margin: 40px 0;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
      }
    
  /* Link Styling */
  .tip-link {
    background-color: rgb(41, 165, 16);
    border: 0;
    padding:15px 50px;
    border-radius: 1px;
    color: #161212;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  
      
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    text-decoration: none;
  }
  
  .tip-link:hover {
    color: #3aaa36;
    background-color: rgb(250, 245, 245);
    text-decoration: none;
    border: 1px solid  #36aa3c;;
  }
  
  @keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
  }
  
  .gETAMAJORSERVICE h1{
    color: #313131;
    font-size: 55px;
    line-height: 120%;
    font-weight:lighter;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
    width: auto;
    height: min-content;
    
  }
  
  .gETAMAJORSERVICE span{
    color: rgb(236, 122, 122);
    font-size: 55px;
    line-height: 120%;
    font-weight:bold;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
    
    
  }
  
  
  .everyMajorServiceIncludesAComp {
    padding: 0%;
    color: #2c1b1b;
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: lighter;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    width: 100%;
    height: min-content;
    flex-direction: column;
    z-index: 99;
    top: 1%;
    left: 120%;
  }
  
  .frame10 {
    background-color: rgb(255, 253, 253);
    border: 1px solid salmon;
    padding:14px 50px;
    border-radius: 1px;
    color: #cf3d3d;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    top: 50%;
    left: 120%;
    position: absolute;
  }
  .frame11 {
    background-color: rgb(209, 209, 209);
    border: 0;
    padding:20px 50px;
    border-radius: 1px;
    color: #0e0c0c;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    margin:  50px 0;
   
  }
  
  
  .subcriptcontain{
    position: absolute;
    top: 150%;
  }
  
  .optionlist{
    top: 10%;
    position: absolute;
  }
  .subscription-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 equal columns */
    gap: 20px; /* Space between grid items */
  }

  .bozies{
   width: 00px;
   height: 100px;
  }
  .banner{
    background: linear-gradient(rgba(255, 254, 254, 0), rgb(255, 255, 255)), 
    url('../src/assets/Untitled\ design\ \(3\).jpg');
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 320%;
    width: 100%;
    height: 70%;
    border-radius: 0;
    box-shadow: 0 -38px  38px rgba(255, 255, 255, 0.377);
    background-color: #160f0f;
  }
  
  .banner {
    display: flex;
    color: hwb(0 7% 39%);
    font-size: 25px;
    font-weight: bold;
    line-height: 120%;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
  
  }
  .bannerh2 {
    color: #1a0c0c;
  font-size: 30px;
  margin: -20px 0;
  line-height: 120%;
  font-weight:500;
  font-family: 'Montserrat', sans-serif;
  }
  
  .banner button{
    text-decoration: none;
    background: linear-gradient(to right,rgb(87, 29, 29), rgba(146, 2, 2, 0.849)); 
    border: 1px solid  rgba(245, 87, 87, 1);
    padding:14px 50px;
    border-radius: 1px;
    color: rgb(253, 253, 253);
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  
  /*serivce*/
  .Serivce{
   position: absolute;
   top: 360%;
    width: 100%;
  }
  
  .Serivce h1{
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 35px;
  line-height: 120%;
  font-weight:lighter;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
    
   };

   .Acreddited{
   
    display: flex;
    flex-direction: column;
   
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     gap: 30px;
   }
  
   .back{
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right,rgb(255, 255, 255), rgba(255, 255, 255, 0)), 
    url('../src/assets/map1.png');
    height: 150px;
    width: 200px;
    margin: 40px 0;
    padding: 10px 10px;
    border-radius: 30px;
  
   background-position: center;
   }
  
  
  .Acreddited img{
    
     width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 100px;
  }
  
  .membership{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0%;
  }
  .membership h1{
    font-size: 35px;
  line-height: 120%;
  font-weight:lighter;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif; 
  }
  .membership span{
    color: rgba(236, 72, 77, 1);
    font-size: 35px;
    line-height: 120%;
    font-weight:bold;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
  }
  
  .membership p{
    font-weight: 400;
    font-size: 20px;
    font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif; 
  }
  
  /*footer*/
  .frame329 {
    width: 100%;
    position: absolute;
    top:500%;
     flex-direction: column;
      height: min-content;
      flex-direction: column;
      align-items: flex-start;
      
    
    };
    .frame329 {
      padding: 20px;
      background-color: #f9f9f9;
    }
    
    .contact-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      
    }
    
    .contact-image {
  
      width: 20%;
      max-height: 500px;
      object-fit: cover;
    }
    
    .contactus {
      font-family: 'Montserrat', sans-serif;
      color: #614f4f;
      font-size: 12px;
    }
  
    .textstyle {
      font-size: 11px;
      margin: 5px 0;
     color: #555353;
      font-family: "Montserrat", sans-serif;
    }
    
    .frame330 iframe {
      border: none;
      width: 100%;
      height: 400px;
      position: absolute;
      top: 559%;
     
    }
    .textBlock10 {
      margin-left: 60%;
      color: #614f4f;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      width: 100%;
    }
    
    
      
  .bookin_container{
    margin: -10% 10%;
  }
    
    .bookin_container h1{
      font-size: 50px;
      color: #e67373;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
    
    
    .bookin_container span{
      font-size: 50px;
      font-weight: bold;
      color: #e67373;
      font-family: "Montserrat", sans-serif;
    }
    
    .fill_form{
      font-size: 20px;
      color: #5a5a5a;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
    form h3{
      font-size: 25px;
      font-weight: bold;
      color: #af3232;
      font-family: "Montserrat", sans-serif;
    }
    
    form input{
     width: 350px;
     height: 35px;
    padding: 5px 10px;
    margin: 15px 0;
     border: none;
     background: #F5F5F5;
     border-radius: 5px 5px 0 0;
     color: #555454;
    }
    
    
    form select{
      width: 350px;
      height: 35px;
     padding: 5px 0;
     margin: 15px 0;
      border: none;
      background: #F5F5F5;
      border-radius: 5px 5px 0 0;
      color: #434443;
    }
    .AboutYourAffordableCarServiceWis {
      color: #756b6b;
      font-size: 16px;
      font-weight: bold;
      font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: 100%;
      height: min-content;
      justify-content: center;
      flex-direction: column;
      margin-top: -40%;
     z-index: 99;
    }
  
   
    .WeHaveAQualifiedDieselMechanic p{
      width: 100%;
      height: min-content;
      font-weight: 600;
    }
    .JaguarHome1 {
      position: absolute;
    left: 30%;
  top: 40%;
      width: 100%;
      height: 40%;
      background-image:url('../src/assets/wantACarWithOfficeCell1.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    };

   .contact-container {

  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 20% auto;
  max-width: 1200px; /* Center and limit max width */
}

.contact-header {
  margin-top: 10%;
  text-align: center;
}

.contact-details {
  margin-top: 50px ;
  margin-left: 35%;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c9c5c5;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.icon-container {
  width: 50px;
  height: 50px;
  background: #d83131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-button {
  padding: 10px 20px;
  border: none;
  background: #d83131;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background: #b82626;
}
.booking-appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

}


